<!DOCTYPE html>
<html ng-app="student">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<style>
.ng-invalid.ng-dirty { border-color: #FA787E; } 
.ng-valid.ng-dirty {  border-color: #78FA89; }
</style>
<div ng-controller ="StudentCtrl as stu">
<ul class="list-group">
<li ng-repeat = "stuObj in stu.getArr" class = "list-group-item">
<p>{{stuObj.name}} <em class="pull-center">{{stuObj.surname}} </em> <em class="pull-right"><button class="btn btn-info btn-sm" ng-click="showForm();"> Add </button></em></p>

</li>
</ul>
<br/> <br/>

<form name="reviewForm" ng-show="stu.showField" class="form-inline" ng-submit = "reviewForm.$valid && submisson();">
    <div class="form-group">
      <label>First Name</label>
        <input class="form-control" type="text" ng-model="stu.firstName" ng-change="enableText();" required>
    </div>
	<br/>
	<div class="form-group">
      <label>LastName</label>
        <input class="form-control" type="text" ng-model="stu.lastName" ng-change="btnDisEna();" ng-disabled="stu.lastDisable"/ required>
    </div>
	<br/><br/>
	<div> reviewForm is {{reviewForm.$valid}} </div>
	<button type="submit" class="btn btn-default"  ng-disabled="stu.btnDisable">Submit</button>
</form>
<br/><br/>

</div>

<panel-controller></panel-controller>
<script type="text/javascript" src="js/today1.js"></script>
<script type="text/javascript" src="js/helloToday.js"></script>
</body>
</html>
